+++
title = "AWS Machine Learning"
linkTitle = "AWS Machine Learning"

+++

{{< blocks/cover title="AWS Machine Learning Portal Site" image_anchor="top"  color="green" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/aws-samples/amazon-sagemaker-examples-jp">
		Sample Codes <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">AWS のサービスを使って機械学習プロジェクトを加速する</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}



{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="試す" url="https://aws.amazon.com/jp/free/machine-learning/?trkCampaign=acq_paid_search_brand&trk=ps_a134p000006gTaCAAU&sc_campaign=acquisition_JP&sc_channel=ps&sc_publisher=google&sc_category=machine-learning&sc_country=JP&sc_geo=JP&sc_outcome=devadopt&sc_detail=aws%20%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92&sc_content=Machine%20Learning_e&sc_segment=484288568790&sc_medium=ACQ-P|PS-GO|Brand|Desktop|SU|AWS|Solution|JP|JP|Text|dx&ef_id=CjwKCAiAgc-ABhA7EiwAjev-j3oUiw_0APmqtVZZanueA2awMabZmlO2F0s9TOOc7gFqEeVodhM19RoCQmQQAvD_BwE:G:s&s_kwcid=AL!4422!3!484288568790!e!!g!!aws%20%E6%A9%9F%E6%A2%B0%E5%AD%A6%E7%BF%92&gclid=CjwKCAiAgc-ABhA7EiwAjev-j3oUiw_0APmqtVZZanueA2awMabZmlO2F0s9TOOc7gFqEeVodhM19RoCQmQQAvD_BwE" %}}
無料で利用開始できる機械学習サービス

{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="使う" url="https://github.com/aws-samples/amazon-sagemaker-examples-jp" %}}
すぐに実行して試せるサンプルノートブックを **GutHub** で公開しています。
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="知る" url="https://twitter.com/awscloud_jp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" %}}
サービスリリースやイベントの情報はこちらから
{{% /blocks/feature %}}


{{< /blocks/section >}}


