+++
title = "AWS Machine Learning"
linkTitle = "AWS Machine Learning"

+++

{{< blocks/cover title="AWS Machine Learning Portal Site" height="min" image_anchor="top"  color="green" >}}
<div class="mx-auto">
	<p class="lead mt-7">こちらは AWS の機械学習サービスのポータルサイトです。<br>
		サービスの説明や使い方の説明やサンプルコードなどを公開しています。</p>
</div>

{{< /blocks/cover >}}



{{< blocks/section color="white" >}}

{{% blocks/feature icon="fas fa-book-open" title="チュートリアル"  %}}
AWS で機械学習を始める方法をご紹介します。
[こちらをクリック]({{< ref "/docs/ml-services/_index.md" >}})
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="AI サービスを活用する"  %}}
AWS の AI サービスと使い方をご紹介します。
[こちらをクリック]({{< ref "/docs/ai-services/_index.md" >}})
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-wrench" title="自分で機械学習モデルを作る" %}}
Amazon SageMaker を使って機械学習プロジェクトを行うための情報を提供します。
[こちらをクリック]({{< ref "/docs/usecases/_index.md" >}})
{{% /blocks/feature %}}




{{< /blocks/section >}}

{{< blocks/section color="light" >}}
{{% blocks/feature icon="fab fa-twitter" title="知る" url="https://twitter.com/awscloud_jp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" %}}
サービスリリースやイベントの情報はこちらから
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-twitter" title="知る" url="https://twitter.com/awscloud_jp?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" %}}
サービスリリースやイベントの情報はこちらから
{{% /blocks/feature %}}
{{< /blocks/section >}}
